/* Bao Le */


.banner {
		background-image: url(header.jpg);
		background-position: center center;
		background-size: cover;
		height: 150px;
		padding-right: 20px;
		}
header{
	

	padding: 10px 10px 20px 10px;
	background-color: #B6DACB;
	color: #000;

	}

.container{
		margin: 0 auto;
		border: 1px solid #E2F2Ec;
		}



h2{
	padding: 30px 35px 30px 10px;
	font-size: 125%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #366;
	background:url("smallbug.png") no-repeat right center;
	height: 2.5em;
	
	}

.navbar-default .navbar-nav > li > a {
					color: #880402;
					}


.navbar{
		background-color: #7BB022;
		
		
		}
		
		




nav ul{
	list-style: none;
	height: 36px;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
	font-family: helvetica arial sans-serif;
	border-bottom: 4px solid #366;
	border-top: 1px solid #C0E2D4;
	
	}

.nav li{
	display: inline;
	
	
	}
	
	}

nav a{
	float: left;
	color: #880402;
	padding: 12px 20px 0 20px;
	height: 24px;
	background: url(linkdivider.gif) #FFF no-repeat right-top;
	}



.nav .current:hover{
			color: #fff;
			background: url(linkcurrent.gif) no-repeat;
			}

			




a:hover{
	 color: #00515C;
	 }

nav a:hover{
		background: url(linkhover.gif) no-repeat;
		}
#col1,#col3{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	background-color: #ddffff;
}
#col2,#col4{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	background-color: #befafe;
	}



.col-wrap{
		overflow: hidden; 
		}

.innerColumn{

				margin: 10px 12px 10px 12px;
				padding: 0;
				}


footer{
	margin: 0;
	padding: 10px;
	border-top: 4px solid #366;
	font-size: 90%;
	background-color: #B6DACB;
	color: #000;
	}


